<!-- Import module in .ejs files -->

<%- include('./partials/_header'); -%>
<div class="container">
    <%- include('./partials/_navbar'); -%>
    <%- include('./partials/_form') -%>
</div>
<%- include('./partials/_footer'); -%>